@font-face { font-family: Collegia; src: url('vendor/collegia-font/collegia.ttf'); }

body {
	margin: 0;
}

html {
	background-color: #72b1ff;
}

b.user-name {
	display:block;
	text-align:center;
	font-size:12pt;
}

.box-search {
	width: 100%;
	height: 120px;
	position: fixed;
	background-color: #72b1ff;
	display: inline-flex;
	align-items: center;
	padding-left: 50px;
}

.box-search h1 {
	font-family: Collegia;
	font-size: 75px;
	color: #323131;
	margin: 0;
}

.box-search h1:hover {
	cursor: pointer;
}

.input-search {
	margin-left: 50px;
}

.input-search label {
	display: block;
	font-family: Collegia;
	font-size: 14px;
}

.error-msg span,
.input-search input[type="text"] {
	font-family: Collegia;
	font-size: 18px;
	height: 32px;
	width: 250px;
}

.input-search input[type="text"] {
	border: 2px solid #323131;
	padding-right: 14px;
	padding-left: 5px;
}

.error-msg {
	color: 	#d62d20;
	margin-top: 19px;
	margin-left: 5px;
}

.search-button {
	margin-left: -14px;
	margin-top: 16px;
	height: 50px;
}

.search-button img:hover {
	cursor: pointer;
	border-radius: 25px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.descricao-busca {
	display: inline-block;
	margin-left: 370px;
}

#map {
	display: inline-block;
	width: 100%;
	margin-top: 120px;
}